.profile-container {
  margin: 10px 100px;
}

.profile-header {
  display: flex;
}

.header-content {
  margin: 5px 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header-image {
  margin-left: 150px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-header-row2 {
  display: flex;
  margin-top: 10px;
}

.profile-header-row3 {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

.red {
  color: red;
}

.body-content {
  margin: 20px 10px;
}
